<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Jot down ideas for your next Websites</p>
     <a class="btn btn-primary btn-lg" href="/ideas/add" role="button">Add Application Idea</a>
  </div>
</div>