<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Save securily your Personal Notes</p>
     <a class="btn btn-primary btn-lg" href="/ideas/add" role="button">Add Personal Notes</a>
  </div>
</div>